.store-footer {
  width: 100%;

  display: flex;
  flex-direction: column;

  align-items: center;

  border-top: 1px solid rgb(221, 221, 221);
}

.company-info-wrapper {
  width: 1120px;

  display: flex;
  flex-direction: row;

  justify-content: space-between;

  padding: 20px 0;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.company-info {
  box-sizing: content-box;
  width: 265px;

  padding: 0 10px;
}

.company-info h4 {
  margin: 10.5px 0;
}

.company-info p {
  margin: 0 0 10.5px 0;

  font-size: 14px;
}

.company-info .footer-btn {
  box-sizing: border-box;
  height: 24.8px;

  padding: 0 10px;

  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;

  font-size: 12px;
  font-weight: 700;

  cursor: pointer;
}

.company-info .footer-btn:hover {
  background-color: rgb(230, 230, 230);
}

.company-info .intro-btns {
  display: flex;
  flex-direction: column;
}

.intro-btns .btn-wrapper {
  margin-bottom: 8px;
}

.company-info .personal-info {
  display: flex;
  flex-direction: column;
}

.company-info .personal-info > div {
  display: inline-block;
  border-bottom: 1px solid rgb(102, 102, 102);

  color: rgb(102, 102, 102);
  font-size: 12px;
}
