.app-content {
  display: flex;
  flex-direction: column;

  align-items: center;

  padding: 32px 0;
}

.main-banner {
  width: 1120px;
  height: 300px;

  position: relative;
}

.main-banner a {
  width: 100%;
  height: 100%;
}

.main-banner .banner-img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  border-radius: 8px;
}

.banner-nav {
  display: flex;
  flex-direction: row;

  width: 80%;
  height: 20px;

  position: absolute;

  left: 23px;
  bottom: 23px;
}

.banner-nav-li > div {
  width: 12px;
  height: 12px;

  margin: 3px;

  border-radius: 100%;

  background-color: rgba(219, 199, 202, 0.5);
}

.banner-nav-li.selected > div {
  background-color: white;
}

.item-category-wrapper {
  width: 1140px;
  height: 107px;

  margin-top: 15px;

  display: flex;
  flex-direction: row;

  justify-content: space-around;
}

.item-category-wrapper .category-item {
  display: flex;

  justify-content: center;
  align-items: center;
}

.category-item img {
  width: 76px;
  height: 96px;

  object-fit: cover;
}

.sub-banner {
  margin-top: 20px;
  position: relative;
}

.sub-banner-list {
  display: flex;
  flex-direction: row;

  width: 100%;

  align-items: center;
}

.sub-banner-item {
  display: inline-block;

  width: 360px;
  height: 189px;

  padding: 0 10px;
}

.sub-banner-item a {
  display: inline-block;

  width: 100%;
  height: 100%;
}

.sub-banner-item img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

/* 브랜드 랭킹 */

.daily {
  width: 1120px;
}

.daily .daily-header {
  width: 100%;

  display: flex;
  flex-direction: row;

  margin-bottom: 21px;
}

.daily-header .header-title {
  flex-grow: 1;
}

.daily-header .order-btns {
  flex-grow: 1;
}

.header-title h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.header-title p {
  font-size: 24px;
  font-weight: 200;
  margin: 0;
}

.order-btns {
  display: flex;
  flex-direction: row;

  justify-content: flex-end;
  align-items: flex-end;

  font-size: 14px;
  font-weight: 700;

  color: rgb(204, 204, 204);
}

.order-btns .order-bar {
  margin: 0;

  width: 16px;
  text-align: center;
}

.order-btns .btn.rank {
  color: black;
}

.daily .rank-row {
  display: flex;
  flex-direction: row;

  width: 1140px;

  position: relative;
  right: 10px;
}

.daily .rank-col {
  flex-grow: 1;

  box-sizing: content-box;

  width: 360px;

  display: flex;
  flex-direction: column;

  padding: 0 10px;
}

.daily .rank-item {
  display: flex;

  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  height: 38px;

  padding: 10px 0;

  border-bottom: 1px solid rgb(238, 238, 238);

  font-size: 14px;
  font-weight: 700;
}

.rank-item .icon {
  box-sizing: border-box;

  width: 38px;
  height: 38px;

  border: 1px solid #eee;
  border-radius: 50%;

  display: flex;

  justify-content: center;
  align-items: center;
}

.rank-item .icon img {
  width: 34px;
  height: 34px;

  border-radius: 50%;
}

.rank-item .ranking {
  padding: 0 10px;
}

.rank-item .title {
  margin-right: 100px;

  cursor: pointer;

  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.rank-item .title:hover {
  border-bottom-color: black;
}

.rank-item .follow-btn {
  all: unset;

  width: 54px;
  height: 28px;

  text-align: center;

  background-color: #f70061;

  font-size: 12px;
  font-weight: 700;

  color: white;

  border: 1px solid rgb(222, 0, 87);
  border-radius: 3px;

  cursor: pointer;
}

.rank-item .follow-btn:hover {
  background-color: #c4004d;
}

.brand-btn-wrapper {
  width: 100%;

  display: flex;
  flex-direction: row;

  justify-content: center;

  padding: 27px 0 11px 0;
}

.brand-ranking-btn {
  all: unset;

  padding: 7px 12px;

  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;

  font-size: 14px;
  font-weight: 700;

  cursor: pointer;
}

.brand-ranking-btn:hover {
  background-color: #e6e6e6;
}
